<div id="wrapper" [ngClass]="{'toggled' : toggled}">
  <app-editor-sidebar (onNewButtonClicked)="editor.reset()" (onSpeechFileSelect)="getFile($event)" #editorSidebar></app-editor-sidebar>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar visible-xs visible-sm">
      <div class="nav navbar-nav">
        <a (click)="toggleMenu($event)"><i class="fa fa-bars fa-2x"></i></a>
      </div>
    </nav>
    <app-editor (onDeleteSuccess)="onDeleteSuccess($event)" [(file)]="selectedFile" #editor></app-editor>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
