<div id="wrapper" [ngClass]="{'toggled' : toggled}">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        Politician Speeches
      </li>
      <li>
        <button class="btn btn-info btn-block">New Speech</button>
      </li>
      <li class="form-group has-feedback sidebar-search">
        <input type="text" class="form-control" placeholder="search file..."/>
        <i class="fa fa-search form-control-feedback"></i>
      </li>
      <li style="text-indent: 10px">
        <p-tree [value]="files" [styleClass]="'sidebar-tree'"></p-tree>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <nav class="navbar visible-xs visible-sm">
        <div class="nav navbar-nav">
          <a (click)="toggleMenu($event)"><i class="fa fa-bars fa-2x"></i></a>
        </div>
      </nav>

      <div class="form-horizontal">
        <div class="form-group">
          <label for="author" class="control-label col-sm-1">Author: </label>
          <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Author" id="author"/>
          </div>
          <label for="date" class="control-label col-sm-1">Date: </label>
          <p-calendar inputId="date" styleClass="col-sm-2" inputStyleClass="form-control"></p-calendar>
        </div>
        <!--<div class="form-group">-->
        <!--<tag-input [(ngModel)]="keywords" placeholder="hit space for each keyword." theme='bootstrap'-->
        <!--[separatorKeys]="[',', ' ']" inputClass="form-control"></tag-input>-->
        <!--</div>-->
      </div>
      <div class="form-group">
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
