body {
  overflow-x: hidden;
}

/* Toggle Styles */

$sidebar-width: 250px;

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

:host #{"/deep/"} #wrapper.toggled {
  padding-left: $sidebar-width;
}

:host #{"/deep/"} #wrapper.toggled #sidebar-wrapper {
  width: $sidebar-width;
}

#page-content-wrapper {
  width: calc(100% - #{$sidebar-width});
  position: absolute;
  padding: 15px;
}

@media(max-width:768px) {
  #page-content-wrapper {
    width: 100%;
  }
}

:host #{"/deep/"} #wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -$sidebar-width;
}

