<div id="wrapper" [ngClass]="{'toggled' : toggled}">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        Politician Speeches
      </li>
      <li>
        <button class="btn btn-info btn-block">New Speech</button>
      </li>
      <li class="form-group has-feedback sidebar-search">
        <input type="text" class="form-control" placeholder="search file..."/>
        <i class="fa fa-search form-control-feedback"></i>
      </li>
      <li style="text-indent: 0">
        <p-tree [value]="files" [styleClass]="'sidebar-tree'"></p-tree>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <nav class="navbar visible-xs visible-sm">
        <div class="nav navbar-nav">
          <a (click)="toggleMenu($event)"><i class="fa fa-bars fa-2x"></i></a>
        </div>
      </nav>

      <div class="form-horizontal">
        <div class="form-group">
          <label for="author" class="control-label col-md-1 col-sm-2 col-xs-2">Author: </label>
          <div class="col-md-5 col-sm-5 col-xs-10">
            <input type="text" class="form-control" placeholder="Author" id="author"/>
          </div>
          <label for="date" class="control-label col-md-1 col-sm-1 col-xs-2">Date: </label>
          <p-calendar inputId="date" styleClass=" col-md-4 col-sm-4 col-xs-10 speech-editor" inputStyleClass="form-control" placeholder="Date of delivery"></p-calendar>
        </div>
        <div class="form-group">
          <p-editor styleClass="col-xs-12" placeholder="Enter speech here..."></p-editor>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <tag-input [(ngModel)]="keywords" placeholder="add new...." secondaryPlaceholder="Enter tags here. Hit space/comma for each tag" theme='bootstrap'
                       [separatorKeys]="[',', ' ']" inputClass="tag-textbox" inputId="keywords"></tag-input>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 col-md-2 col-md-offset-6">
        <button class="btn btn-block btn-lg btn-danger" (click)="confirmDelete()">Delete</button>
        <p-confirmDialog header="Confirm deletion" icon="fa fa-question-circle" #cd>
          <p-footer>
            <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()" class="ui-button-secondary"></button>
            <button type="button" pButton icon="fa-check" label="Yes" (click)="cd.accept()" class="ui-button-danger"></button>
          </p-footer>
        </p-confirmDialog>
      </div>
      <div class="col-xs-4 col-md-2">
        <button class="btn btn-block btn-lg btn-primary">Save</button>
      </div>
      <div class="col-xs-4 col-md-2">
        <div class="btn-group-justified">
          <div class="btn-group dropup">
            <button type="button" class="btn btn-lg btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Share <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right list-group social-media-menu">
              <li class="list-group-item">
                <a class="btn">
                  <i class="fa fa-facebook"></i> Facebook
                </a>
              </li>
              <li class="list-group-item">
                <a class="btn">
                  <i class="fa fa-instagram"></i> Instagram
                </a>
              </li>
              <li class="list-group-item">
                <a class="btn">
                  <i class="fa fa-google-plus"></i> Google Plus
                </a>
              </li>
              <li class="list-group-item">
                <a class="btn">
                  <i class="fa fa-reddit"></i> Reddit
                </a>
              </li>
              <li class="list-group-item">
                <a class="btn">
                  <i class="fa fa-pinterest"></i> Pinterest
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
